.info {
  padding-left: 0;
  border-radius: 0;
  margin-top: 30px;
  .nav {
    border-radius: 0;
    border: none;
    .nav-head {
      padding: 0;
      background-color: #fff;
      border-bottom: 3px solid #ff2823;
      a {
        display: block;
        width: 122px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        background-color: #ff2823;
        border-color: #ff2823;
        text-align: center;
        color: #fff;
      }
    }
    .nav-body {
      padding: 0;
      padding-top: 20px;
      color: #646464;
      ul {
        margin-bottom: 0;
        li {
          //   height: 35px;
          //   display: flex;
          border-bottom: 1px solid #eeeceb;
          .left {
            float: left;
            width: 71px;
            padding: 12px 0 0 12px;
            box-sizing: content-box;
            &:hover {
              text-decoration: underline;
            }
          }
          .right {
            margin-left: 71px;
            padding: 9px 2px 4px 35px;
            background-color: #fff;
            span {
              display: inline-block;
              width: 80px;
              font-size: 12px;
              margin: 3px;
              cursor: pointer;
              &:hover {
                color: #ff2823;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
.goodsBox {
  padding-top: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    li {
      position: relative;
      box-sizing: content-box;
      width: 200px;
      line-height: 20px;
      margin-right: 25px;
      padding: 5px;
      padding-bottom: 0;
      border: 1px solid #ecebeb;
      margin-bottom: 40px;
      background-color: #fff;
      transition: border-color 0.2s ease-in-out;
      overflow: hidden;
      &.on {
        padding: 4px;
        padding-bottom: 0;
        border: 2px solid #ff2823;
      }
      img {
        width: 200px;
        height: 200px;
        display: block;
        cursor: pointer;
      }
      .price {
        line-height: 20px;
        padding-top: 5px;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;
        color: #ff2832;
        font-size: 16px;
        font-weight: bold;
        padding-right: 10px;
        span {
          font-size: 16px;
        }
      }
      .name {
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        width: 200px;
        &:hover {
          color: #ff2823;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .show-button {
        width: 210px;
        height: 26px;
        position: relative;
        left: -6px;
        bottom: -1px;
        box-sizing: content-box;
        border: 1px solid #ecebeb;
        display: flex;
        .addcart-button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #646464;
          width: 132px;
          background-color: #fff;
          font-size: 12px;
          line-height: 22px;
          border-radius: 0;
          text-align: center;
          margin: 0;
          border-right: 1px solid #ecebeb;
          &:hover {
            background-color: #fdf5f5;
            color: #ff2832;
            .icon {
              background-position: -28px 0;
            }
          }
          .icon {
            background: url(http://search.dangdang.com/Standard/Search/Extend/hosts/images/model/search/shopping_car.png)
              no-repeat 0 0;
            display: inline-block;
            width: 28px;
            height: 22px;
            vertical-align: middle;
          }
        }
        .like-button {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #646464;
          background-color: #fff;
          font-size: 12px;
          margin: 0;
          &:hover {
            background-color: #fdf5f5;
            color: #ff2832;
          }
        }
      }
    }
  }
}
.fenye {
    border-color: #fff;
    box-shadow: none;
    text-align: center;
    .fenye-a {
      margin: 0 auto;
    }
  }
