.cart-center {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.header .head-content .head-right {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logobox {
  background-color: #fff;
  width: 100%;
  height: 104px;
  border-bottom: 4px solid #ff2832;
}
.logobox .login-shop {
  display: flex;
  justify-content: space-between;
}
.logobox .login-shop .logo {
  padding: 20px 0 0 15px;
}
.logobox .login-shop .shopping-procedure {
  width: 634px;
  height: 36px;
  background: url(http://shopping.dangdang.com/shoppingcart/images/procedure_bg.png) 0 0 no-repeat;
  font-weight: bold;
  font-size: 14px;
  color: #646464;
  margin: 30px 0 0;
  display: flex;
}
.logobox .login-shop .shopping-procedure span {
  width: 211px;
  height: 36px;
  line-height: 36px;
  display: block;
  text-align: center;
}
.logobox .login-shop .shopping-procedure span.current {
  color: #fff;
  width: 206px;
}

.add-line {
  width: 100%;
  display: flex;
  background-color: #fafafa;
}
.add-line .address {
  display: flex;
  width: 190px;
  height: 22px;
  line-height: 22px;
  margin: 15px 0;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
  padding: 0 15px;
  box-sizing: content-box;
  border-radius: 12px;
}
.add-line .address .icon {
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background: url(http://shopping.dangdang.com/shoppingcart/images/icon_sprite.png) 0 5px no-repeat;
}
.add-line .address .select-add {
  position: relative;
}
.add-line .address .select-add .default-text {
  display: block;
  color: #646464;
  border: 1px solid #ebebeb;
  border-width: 0 1px;
  height: 22px;
  line-height: 22px;
  padding: 0 14px 0 5px;
  background: url(http://shopping.dangdang.com/shoppingcart/images/icon_sprite.png) no-repeat right -53px #fff;
}
.add-line .address .select-add .area-select {
  display: none;
  position: absolute;
  width: 369px;
  height: 144px;
  z-index: 100;
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 0 2px;
  font-size: 12px;
  top: 22px;
  left: 0;
}

.empty {
  padding: 90px 0 0 495px;
  background: url(http://shopping.dangdang.com/shoppingcart/images/empty.png) 90px 46px no-repeat;
  height: 190px;
  box-sizing: content-box;
}
.empty p {
  font-size: 14px;
  color: #8a8888;
}
.empty a {
  width: 116px;
  height: 38px;
  display: block;
  background-color: #ff2832;
  color: #fff;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
  margin: 30px 20px 0 0;
  border-radius: 2px;
}
.empty a:hover {
  background-color: #d21f2b;
  text-decoration: underline;
}

.shopping-ads {
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
  padding: 10px 0 15px;
  box-sizing: content-box;
}
.shopping-ads .ads-tab {
  line-height: 36px;
  height: 36px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  color: #323232;
}

.panel {
  border: none;
}
.panel .cart-heading {
  border: none;
  box-sizing: content-box;
  background-color: #fff;
  padding: 0;
}
.panel .cart-heading .shopping-title {
  margin-top: 20px;
  height: 36px;
  display: flex;
  margin-bottom: 0;
  color: #969696;
  font-size: 12px;
}
.panel .cart-heading .shopping-title li {
  text-align: center;
  line-height: 36px;
}
.panel .cart-heading .shopping-title li.f1 {
  width: 202px;
  text-align: left;
}
.panel .cart-heading .shopping-title li.f1 input {
  margin: 0;
  margin-right: 10px;
}
.panel .cart-heading .shopping-title li.f2 {
  width: 280px;
  text-align: left;
}
.panel .cart-heading .shopping-title li.f3 {
  width: 130px;
}
.panel .cart-heading .shopping-title li.f4 {
  width: 130px;
}
.panel .cart-heading .shopping-title li.f5 {
  width: 70px;
}
.panel .cart-body {
  padding: 0;
  margin-top: 20px;
  border: 1px solid #ebebeb;
}
.panel .cart-body .goodsList {
  padding: 0;
}
.panel .cart-body .goodsList li {
  box-sizing: content-box;
  display: flex;
}
.panel .cart-body .goodsList li .select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
}
.panel .cart-body .goodsList li .goodsImg {
  padding: 20px 20px 20px 0;
}
.panel .cart-body .goodsList li .goodsImg img {
  width: 80px;
  height: 80px;
}
.panel .cart-body .goodsList li .goodsDesc {
  width: 330px;
  line-height: 18px;
  padding-top: 17px;
  position: relative;
}
.panel .cart-body .goodsList li .goodsDesc p {
  width: 100%;
  height: 36px;
  overflow: hidden;
  margin-bottom: 27px;
}
.panel .cart-body .goodsList li .price {
  width: 130px;
  padding-top: 15px;
  text-align: center;
  position: relative;
  line-height: 22px;
}
.panel .cart-body .goodsList li .price span {
  color: #323232;
  font-size: 14px;
}
.panel .cart-body .goodsList li .count {
  width: 130px;
  padding-top: 15px;
  position: relative;
  text-align: center;
  line-height: 22px;
  display: flex;
  justify-content: center;
}
.panel .cart-body .goodsList li .count button {
  height: 28px;
  width: 28px;
  border: 1px solid #dcdcdc;
  background-color: #f4f4f4;
}
.panel .cart-body .goodsList li .count input {
  display: block;
  width: 36px;
  height: 28px;
  padding: 0;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-width: 1px 0;
  background-color: #fff;
  font-weight: bold;
}
.panel .cart-body .goodsList li .xiaoji {
  width: 130px;
  padding-top: 15px;
  position: relative;
  text-align: center;
  line-height: 22px;
}
.panel .cart-body .goodsList li .xiaoji span {
  color: #ff2832;
}
.panel .cart-body .goodsList li .operate {
  width: 70px;
  padding-top: 15px;
  position: relative;
  text-align: center;
  line-height: 22px;
}
.panel .buyInfo {
  display: flex;
  align-items: center;
}
.panel .buyInfo > .buyNum,
.panel .buyInfo > .buyMoney,
.panel .buyInfo > .operate {
  margin-bottom: 0;
  font-size: 20px;
}
.panel .buyInfo > .buyNum > span,
.panel .buyInfo > .buyMoney > span {
  font-size: 30px;
}

/*# sourceMappingURL=cart.css.map */
